In [2]:
import datapackage
import pandas as pd

In [20]:
import quandl
quandl.ApiConfig.api_key = "LRXY4nKMEvp-x44yJB2m"

In [ ]:
yield_df = quandl.get("USTREASURY/YIELD", start_date=start_time, end_date=end_time)
yield_df.head()

In [ ]:
import yfinance as yf
gld_df = yf.download('GLD', start_time, end_time, auto_adjust=True)
gld_df.head()

In [40]:
Df.head()

                 Open       High        Low      Close    Volume
Date
2008-01-02  83.559998  85.139999  83.440002  84.860001  12291100
2008-01-03  84.870003  85.940002  84.599998  85.570000   9553900
2008-01-04  85.339996  85.550003  84.430000  85.129997   8402200
2008-01-07  85.239998  85.260002  84.570000  84.769997   6944300
2008-01-08  86.279999  87.129997  86.160004  86.779999   9567900